#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#menu-0 .mbr-navbar__hamburger {
  color: #7c706b;
}
#header1-1 P {
  text-align: left;
}
#content5-6 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-6 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-6 .mbr-article {
  color: #fff;
}
#content5-6 .mbr-article P {
  text-align: left;
}
#social-buttons1-18 .mbr-header__text {
  font-size: 20px;
}
#footer1-2 P {
  font-size: 9px;
  color: #000000;
}
#footer1-2 B {
  font-size: 11px;
  color: #c1c1c1;
}
#footer1-2 SPAN {
  color: #cccccc;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#menu-0 .mbr-navbar__hamburger {
  color: #7c706b;
}
#header4-12 H1 {
  color: #ffffff;
}
#header3-20 P {
  font-size: 17px;
}
#msg-box2-16 .mbr-header .mbr-header__text {
  color: #ffffff;
  font-size: 20px;
  text-align: left;
}
#msg-box2-16 .mbr-article {
  color: #ffffff;
  text-align: left;
}
#header3-21 SPAN {
  font-size: 17px;
}
#header3-21 P {
  font-size: 17px;
}
#header3-19 SPAN {
  font-size: 17px;
}
#header3-19 P {
  font-size: 17px;
}
#footer1-2 P {
  font-size: 9px;
  color: #000000;
}
#footer1-2 B {
  font-size: 11px;
  color: #c1c1c1;
}
#footer1-2 SPAN {
  color: #cccccc;
}
